<section>
    <div class='container'>
        <div class='card-columns justify-content-row' >
            <% @event.each do |event| %>
                <div class="card bg-light mb-3" style="max-width: 18rem; height: 14rem;">

                    <div class="card-header">AUTEUR: <%= event.admin.first_name %></div>
                    <div class="card-body">
                        <h5 class="card-title">Titre: <%= event.title %></h5>
                        <p class="card-text m-2">
                            <a class="btn btn-primary p-3" <%= link_to "Voir le event", event_path(event) %></a> 
                        </p>
                    </div>
                </div>
            <% end %> 
        </div>
    </div>    
</section>