<div class="jumbotron">
  <div class="container  text-center text-white"> 
    <h1 class="display-3 text-white">Bienvenue </h1>

    <p class="display-4 lead">Suivez nos événements </p>
  </div>

    <div class='container '>
        
	<div class='card-columns  ' >
		<% @event.each do |event| %>
		<div class="card text-center d-justify-content-aline">
			<div class="card-header">
				AUTEUR: <%= event.admin.email %>
			</div>
			<div class="card-body">
				<h5 class="card-title">Titre: <%= event.title %></h5>
				<p class="card-text"></p>
				<a class="btn btn-primary " <%= link_to "Voir L'évènement", event_path(event) %></a>	
			</div>
			<div class="card-footer text-muted">
				<%= event.start_date %>
			</div>
		</div>
		<% end %> 
	</div>
</div>

</div>

